<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Donjon-et-Dragon/d&d/Style/index.css">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
<footer>
    <div class="reseaux">
        <a href="http://twitter.com"><img src="/../d&d/img/twitter-1.png" alt="logotwitter"></a>
        <a href="http://twitch.com"><img src="/../d&d/img/twitch-2.png" alt="logotwitch"></a>
        <a href="http://instagram.com"><img src="/../d&d/img/insta-2.png" alt="logotwitter"></a>

        <form class="newsletters">
            <label for="newsletter-email">Inscrivez-vous à notre newsletter :</label><br>
            <input type="email" id="newsletter-email" name="newsletter-email"
                placeholder="Entrez votre adresse email"><br>
            <button type="submit">S'inscrire</button>
        </form>
    </div>
    <div class="lien">
        <p>
            <a href="">Contact</a>
            <a href="#">Politique de confidentialité</a>
            <a href="#">Cookie</a>
        </p>
    </div>
</footer>