<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="connect.css">
    <link href="https://fonts.cdnfonts.com/css/carolingia" rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <nav>
        <h1>La taverne d'édeve</h1>
    </nav>
    <form class="container" action="" method="POST">
        <div class="formulaire">
            <input type="text" name="nom_u" placeholder="Nom d'utilisateur">
            <input type="password" name="mot_de_passe_u" placeholder="Mot de passe">
        </div>
        <input type="submit" value="Se connecter" name="envoi">
        <button type="button" onclick="window.location.href='create_account.php'">Créer un compte</button>
        <a href="">Mot de passe oublié ?</a>
    </form>
    
</body>

</html>